header{
  background-image: url("../img/kerstbal1.jpg");
  background-color: red;
  width: 100%;
  height: 25vh; 
}
.text{
  display: flex;
  flex-direction: column;
}
label{
  text-align: center;
  color: blue;
  font-size: 2em;
  margin-top: 1em;
  font-family: 'Special Elite', cursive;
}
.form-control{
 padding: 1em 1em;
}
.box1 {
  background-image: url("../img/rendier.png");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(to right,blue, lightblue ,white, white);
}
p{
  text-align: center;
  color:darkblue;
  font-size: 2em;
  font-family: 'Special Elite', cursive;
}
h3{
  text-align: center;
  color: darkcyan;
  font-size: 4em;
  font-family: 'Special Elite', cursive;
}
/*span{
  color: darkcyan;
  writing-mode: vertical-rl;
  font-size: 1.5em;
}*/
